<!DOCTYPE html>
<html>
<head>
    <title><%= htmlWebpackPlugin.options.title + htmlWebpackPlugin.options.date %></title>
    <script type="text/javascript">
    <%= compilation.assets[htmlWebpackPlugin.files.chunks.app.entry.substr(htmlWebpackPlugin.files.publicPath.length)].source()%>
    </script>
    
    <% for(var k in htmlWebpackPlugin.files.chunks) { %>
     <% if(k !== 'main') { %>
        <script type="text/javascript" src="<%=
        htmlWebpackPlugin.files.chunks[k].entry %>"></script>
     <% } %>
    <% } %>
</head>
<body>
<!-- 测试专用代码忽略 -->


我的     家
</body>
</html>